/* Mobile first stylesheet
all devices greater than 680px width
defined with @media below
*/

/* general body styles */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Montserrat', Helvetica, sans-serif;
}

button,
input[type='text'],
textarea,
a {
  padding: 10px 20px;
  border-radius: 6px;
  border: 1px solid #ccc;
  text-decoration: none;
}

button:hover,
a:hover {
  cursor: pointer;
}

header {
  background-color: #f1f1f1;
}

/* GRID styles

960px wide w/ 12 gutters and half gutters on both edges

12 - 60px columns 
11 - 20px gutters
2 - 10px gutters on edges 

smaller screens get 20px padding on either side
*/

.row {
  max-width: 1000px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

/* Clearfix */
.row::before,
.row::after {
  display: table;
  content: '';
}

.row::after {
  clear: both;
}

.col-3,
.col-4,
.col-6,
.col-12 {
  float: left;
  padding-left: 1.04166666%;
  padding-right: 1.04166666%;
}

/* Mobile defaults */
.col-3,
.col-4,
.col-6,
.col-12 {
  width: 100%;
}

/*non-mobile styles on bottom*/

/* header styles */
h1 {
  font-size: 1.75em;
  text-align: center;
  padding-top: 30px;
}
h2 {
  font-size: 1.5em;
  line-height: 2em;
}

/* button styles */
.btn {
  background-color: #000;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.875em;
  font-weight: 400;
}

/* form styles */

.btn.add-bookmark {
  width: 100%;
  margin: 15px 0 30px 0;
}

#bookmark-form-wrapper {
  background-color: #fff;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
}

#bookmark-form-wrapper label {
  margin: 5px 0;
}

#bookmark-form-wrapper .rating label {
  margin: 0 0 20px 0;
}

#bookmark-form-wrapper p {
  font-size: 0.625em;
  font-style: italic;
}

#bookmark-form-wrapper input,
#bookmark-form-wrapper textarea {
  margin-bottom: 20px;
}

.add-bookmark-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

/* bookmarks listed */

.filter-bookmarks select {
  padding: 5px 10px;
  background: #ccc;
}

ul.bookmarks-list {
  list-style: none;
  display: flex;
  flex-direction: column-reverse;
}

ul.bookmarks-list li {
  width: 100%;
  margin: 30px 0;
}

ul.bookmarks-list li.expanded {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;
}

ul.bookmarks-list a {
  display: flex;
  justify-content: space-between;
}

ul.bookmarks-list li.expanded a.bookmark-link {
  border: none;
}

/* error message bar */
.error-message {
  width: 100%;
  background-color: red;
}

.error-message p {
  color: #fff;
  text-align: center;
  padding: 13px 0;
  font-size: 0.6875em;
  font-weight: 400;
}

/* active star rating styles */
.rating,
.rated-stars {
  display: inline-block;
  position: relative;
  height: 50px;
  /* line-height: 50px; */
  font-size: 1.875em;
}

.rating label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  cursor: pointer;
  border-radius: 2px;
}

.rating label:last-child {
  position: static;
}

.rating label:nth-child(1) {
  z-index: 5;
}

.rating label:nth-child(2) {
  z-index: 4;
}

.rating label:nth-child(3) {
  z-index: 3;
}

.rating label:nth-child(4) {
  z-index: 2;
}

.rating label:nth-child(5) {
  z-index: 1;
}

.rating label input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.rating label .icon {
  float: left;
  color: transparent;
}

.rating label:last-child .icon {
  color: #ccc;
}

.rating:not(:hover) label input:checked ~ .icon,
.rating:hover label:hover input ~ .icon {
  color: #ecba14;
}

.rating label input:focus:not(:checked) ~ .icon:last-child {
  color: #000;
  text-shadow: 0 0 5px #ecba14;
}

/* rated stars styles */
.rated-stars {
  display: flex;
  justify-content: flex-start;
}

.rated-stars span {
  position: relative;
  color: #ccc;
}

.rated-stars span.checked {
  color: #ecba14;
}

@media only screen and (min-width: 640px) {
  /* Non-mobile, grid */
  /* 3 columns, 3/12 in % */
  .col-3 {
    width: 25%;
  }

  /* 4 columns, 4/12 in % */
  .col-4 {
    width: 33.33%;
  }

  /* 6 columns 6/12 in % */
  .col-6 {
    width: 50%;
  }

  /* 12 columns, 12/12 */
  .col-12 {
    width: 100%;
  }

  /*header styles*/

  .btn.add-bookmark {
    width: auto;
  }
}

@media only screen and (min-width: 800px) {
  /* do something to
      override settings at previous threshold settings*/
}
